.section__catalogo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#filtros {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    gap: .5rem;
}

#filtros input {
    display: none;
}

#filtros .filtro:checked+.button {
    background-color: var(--black-500);
}

#filtros .filtro:checked+.button:hover {
    cursor: initial;
    color: initial;
    font-weight: initial;
    transform: initial;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {
    .section__catalogo {
        display: grid;
        grid-template-columns: 30% calc(100% - 30%);
        gap: .5rem;
    }

    #filtros {
        padding: 0;
    }
}