.catalogo__banner {
    display: flex;
    flex-direction: column;
}

#filtros {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    gap: .5rem;
}

#filtros input {
    display: none;
}

#filtros .filtro:checked+.button {
    background-color: var(--black-500);
}

#filtros .filtro:checked+.button:hover {
    cursor: initial;
    color: initial;
    font-weight: initial;
    transform: initial;
}