.contacto__banner {
    display: flex;
    flex-direction: column;
}

.contacto__banner__img {
    width: 100%;
}

.contacto__banner__texto {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    padding: 2rem;
    background-color: var(--black);
}

.contacto__banner__enlace {
    color: var(--white);
    transition: all .5s;
}

.contacto__banner__enlace:hover {
    transform: translateX(1rem);
}

.form {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    gap: 1rem;
}