.section__form,
.section__citas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;
}

#form {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    gap: 1rem;
}

.card__cita {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1rem;
    gap: .5rem;

    background-color: var(--black-400);
    border-radius: var(--border-radius);

    transition: all .2s;
}

.card__cita:hover {
    transform: scale(.95);
}

.cita__nombre {
    margin: 0;
    padding: 0;
    font-size: var(--font-size-fluid-2);
    font-weight: 800;
    text-align: start;
}

.cita__email {
    margin: 0;
    padding: 0;
    font-size: var(--font-size-fluid-0);
    font-weight: 600;
    text-align: start;
}

.cita__servicio {
    margin: 0;
    padding: 0;
    font-size: var(--font-size-fluid-1);
    font-weight: 400;
}

.cita__mensaje {
    margin: 0;
    padding: 0;
    max-height: 100%;
    overflow: auto;
    font-size: var(--font-size-fluid-1);
    font-weight: 200;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 426px) {

    #form,
    .card__cita {
        width: 80%;
    }

    #form {
        padding: 0;
    }
}