.accordion {
    padding: 0 1rem;
}

.accordion-item {
    border: 2px solid var(--grey-600);
    background-color: var(--black);
}

.accordion-button {
    color: var(--white);
    background-color: var(--black-100) !important;
    box-shadow: none !important;
}

.accordion-button:active {
    background-color: var(--black-400) !important;
}

.accordion-body {
    padding: 1rem;
}

.faqs__footer {
    margin: 1rem;

    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.faqs__footer * {
    text-align: center;
}