.faqs__banner {
    display: flex;
    flex-direction: column;
}

.faqs__banner__img {
    width: 100%;
}

.faqs__banner__texto {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    padding: 2rem;
    background-color: var(--black);
}

.faqs__banner__enlace {
    color: var(--white);
    transition: all .2s;
}

.faqs__banner__enlace:hover {
    transform: translateX(1rem);
}

.accordion {
    padding: 0 1rem;
}

.accordion-item {
    border: 2px solid var(--grey-600);
    background-color: var(--black);
}

.accordion-button {
    color: var(--white);
    background-color: var(--black-100) !important;
    box-shadow: none !important;
}

.accordion-button:active {
    background-color: var(--black-400) !important;
}

.faqs__footer {
    margin: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.faqs__footer * {
    text-align: center;
}