/* CAROUSEL */
.section__carousel {
    z-index: -1;
}

.carousel,
.slide {
    height: 90vh;
}

.carousel-indicators {
    padding: 1rem;
}

#carouselIndicatorButton {
    padding: .2rem;
    border: 1px solid transparent;
    border-radius: var(--border-radius);
    background-color: var(--white);
}

.carousel-inner,
.carousel-item,
.d-block {
    height: 100%;
}

.d-block {
    object-fit: cover;
    opacity: .6;
}

.carousel-caption {
    top: 70%;
}

.carousel-caption h5 {
    color: var(--white);
    font-size: 3rem;
    font-weight: 800;
}

.carousel-caption p {
    font-size: 1.5rem;
    font-weight: 300;
}

.carousel-control-prev,
.carousel-control-next {
    font-size: 3rem;
    transition: all .5s;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    transform: scale(.8);
}

/* SECTION SERVICIOS */

.section__servicios {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.servicios__picture {
    height: 50vh;
    margin: 2rem;

    border-radius: var(--border-radius);

    overflow: hidden;
}

.servicios__picture:hover .servicios__img {
    transform: scale(1.2);
}

.servicios__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;

    transition: all .5s;
}

.servicios__texto {
    height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    gap: 2rem;
    padding: 3rem;
}

.servicios__titulo {
    font-size: calc(2rem + 1vw);
    /* Con esto hacemos el tamaño del texto responsive */
}

.servicios__descripcion {
    font-size: calc(.6rem + 1vw);
    /* Con esto hacemos el tamaño del texto responsive */
}

.servicios__link {
    color: var(--white);

    display: flex;
    align-items: center;
    gap: .5rem;

    transition: all .2s;
}

.servicios__link:hover,
.servicios__link:active {
    padding-left: 1rem;
    gap: 1rem;
}

/* SECTION CATÁLOGO */

.section__catalogo {
    text-align: center;
    display: flex;
    flex-direction: column;

    gap: 5rem;

    overflow: hidden;
}

.catalogo__banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 40vh;

    position: relative;
    overflow: hidden;
}

.catalogo__banner::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, var(--black), transparent);
}

.catalogo__banner::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, var(--black), transparent);
}

.section__catalogo:hover .catalogo__banner__img {
    transform: scale(1.2);
}

.catalogo__banner__img {
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: .8;

    transition: all .5s;
}

.catalogo__banner__titulo {
    position: relative;
    z-index: 10;

    padding-bottom: 2rem;

    font-size: 2rem;
    font-weight: 400;

    user-select: none;
}

.catalogo__main {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));

    gap: 1rem;
    padding: 0 1rem;
}

.card__catalogo {
    display: flex;
    flex-direction: column;
    justify-content: start;

    background-color: var(--black-500);
    border-radius: var(--border-radius);

    transition: all .5s;
}

.card__img {
    border-radius: var(--border-radius);
}

.card__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    padding: 1rem;
    gap: 1rem;
}

.card__info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    gap: .2rem;
}

.card__footer {
    display: flex;
    flex-direction: column;

    gap: .5rem;
}

.card__nombre {
    font-size: 1.3rem;
    font-weight: 800;
    text-align: start;
}

.card__categoria {
    font-size: 1rem;
    font-weight: 400;
}

.card__precio {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.card__catalogo:hover {
    transform: scale(.95);
}

/* SECTION SUCURSALES */

.section__sucursales {
    display: flex;
    flex-direction: column;
}

.sucursales__banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    height: 100vh;

    overflow: hidden;
}

.sucursales__banner:hover .sucursales__banner__img {
    transform: scale(1.2);
}

.sucursales__banner__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: all .5s;
}

.sucursales__banner__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    gap: 2rem;
    padding: 3rem;
    margin: 0 4rem;

    position: absolute;
    bottom: 6rem;

    background-color: var(--black);
}

.sucursales__banner__titulo {
    font-size: calc(2rem + 1vw);
    /* Con esto hacemos el tamaño del texto responsive */
}

.sucursales__banner__descripcion {
    font-size: calc(.6rem + 1vw);
    /* Con esto hacemos el tamaño del texto responsive */
}

.sucursales__banner__button {
    color: var(--white);
    transition: all .2s;
}

.sucursales__banner__button:hover,
.sucursales__banner__button:active {
    padding-left: 1.2rem;
}

.sucursales__main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sucursales__button {
    overflow: hidden;
    height: 15vh;
    background-color: var(--black);
    position: relative;
}

.sucursales__bandera {
    height: 100%;
    width: 50%;
    transform: skew(-15deg);
    object-fit: cover;

    transition: all .2s;
}

.sucursales__button::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, var(--black), transparent);
}

.sucursales__mapa {
    width: 100%;
    height: 100%;
    display: none;
}

.activo {
    scale: 1.5;
    opacity: 1;
}

.visible {
    display: block;
}