.nosotros__section,
.nosotros__article {
    display: flex;
    flex-direction: column;
}

.list-group {
    padding: 0 1rem 1rem 1rem;
}

.list-group-item {
    color: var(--white);
    background-color: var(--black-100);
    border: 2px solid var(--grey-600);
    font-size: var(--font-size-fluid-2);
    font-weight: 500;
    text-align: center;

    transition: all .2s;
}

.list-group-item:hover {
    background-color: var(--black-400);
}

.list-group-item:active {
    background-color: var(--black);
}

.nosotros__article:last-child .nosotros__article__texto {
    padding-bottom: 0;
}

ul,
ul li {
    width: 100%;
}

.span {
    font-weight: 800;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {
    .nosotros__section {
        display: grid;
        grid-template-columns: 30% calc(100% - 30%);
    }

    .list-group {
        padding: 0 1rem;
    }

    .nosotros__section__articles {
        padding: 0 1rem 0 0;
    }

    .nosotros__article__img {
        border-radius: var(--border-radius);
        border: 2px solid var(--grey-600);
    }
}