.nosotros__section,
.nosotros__article {
    display: flex;
    flex-direction: column;
}

.list-group {
    gap: .5rem;
    padding: 0 1rem 1rem 1rem;
}

.list-group-item {
    border: none;
    border-radius: initial;
}

ul,
ul li {
    width: 100%;
}

.span {
    font-weight: 800;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {
    .nosotros__section {
        display: grid;
        grid-template-columns: 30% calc(100% - 30%);
    }

    .nosotros__article__img {
        border-radius: var(--border-radius);
    }
}