.nosotros__banner,
.nosotros__section,
.nosotros__article {
    display: flex;
    flex-direction: column;
}

.list-group {
    padding: 0 1rem;
}

.list-group-item {
    color: var(--white);
    background-color: var(--black-100);
    border: 2px solid var(--grey-600);
    font-size: var(--font-size-fluid-2);
    font-weight: 500;
    text-align: center;

    transition: all .2s;
}

.list-group-item:hover {
    background-color: var(--black-400);
}

.list-group-item:active {
    background-color: var(--black);
}

.nosotros__section {
    margin-top: 3rem;
}

.nosotros__article:last-child .nosotros__article__texto {
    padding-bottom: 0;
}

ul,
ul li {
    width: 100%;
}

.span {
    font-weight: 800;
}