@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Righteous&display=swap');

:root {
    --white: #FFFFFF;
    --black: #000000;
    --green: #ACEB1A;

    --black-100: #171717;
    --black-200: #141414;
    --black-300: #121212;
    --black-400: #0f0f0f;
    --black-500: #0d0d0d;
    --black-600: #0a0a0a;
    --black-700: #080808;
    --black-800: #050505;
    --black-900: #030303;

    --grey-400: #b0b0b0;
    --grey-500: #808080;
    --grey-600: #5e5e5e;
    --grey-700: #4d4d4d;
    --grey-800: #333333;
    --grey-900: #242424;

    --border-radius: 10px;

    --font-size-fluid-0: clamp(.75rem, 1.5vw, 1rem);
    --font-size-fluid-1: clamp(1rem, 2vw, 1.5rem);
    --font-size-fluid-2: clamp(1.4rem, 3vw, 2.5rem);
    --font-size-fluid-3: clamp(2rem, 4vw, 3.5rem);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none !important;
    text-wrap: balance;

    font-family: 'Montserrat', sans-serif;
    color: var(--white);
}

*::selection {
    color: var(--black);
    background-color: var(--green);
}

body {
    background-color: var(--black);
    min-height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    z-index: 100;
    flex-grow: 1;
}

/* HEADER */

.header {
    background-color: var(--black);
    padding: 0 1rem;
}

.navbar {
    background-color: var(--black);
}

.container-fluid {
    background-color: var(--black);
}

.nav__luxury {
    font-family: 'Righteous', sans-serif;
    font-size: var(--font-size-fluid-3);
    font-weight: 1000;
    letter-spacing: 4px;

    transition: all .2s;
}

.nav__toggler {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;

    transition: all .2s;
}

.nav__link {
    color: var(--white);
    font-weight: 400;
}

.nav__toggler:hover {
    transform: rotate(90deg);
}

.nav__luxury:hover,
.nav__link:hover {
    color: var(--grey-900);
}

.nav__luxury:hover {
    transform: scale(.9);
}

.rotate {
    transform: rotate(90deg);
}

/* FOOTER */

.footer {
    position: relative;
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--black);
}

.footer__enlaces,
.footer__redes,
.footer__copyright {
    padding: 1rem 0;
    margin: 0 1rem;
}

.footer__enlace,
.footer__redes a,
.footer__copyright {
    color: var(--white);
    font-size: var(--font-size-fluid-0);
    font-weight: 400;

    transition: .2s;
}

.footer__enlaces,
.footer__redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    border-bottom: 2px solid var(--grey-700);
}

.footer__enlaces {
    gap: .7rem;
}

.footer__redes {
    gap: 1rem;
}

.footer__enlace:hover,
.footer__redes a:hover {
    color: var(--grey-900);
    transform: scale(.95);
}

.footer__copyright {
    text-align: center;
    user-select: none;
}

/* TEXTO */

.banner {
    display: flex;
    flex-direction: column;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    gap: 1rem;
    padding: 2rem;
    margin: 0;
}

.titulo {
    margin: 0;
    padding: 0;
    color: var(--white);
    font-size: var(--font-size-fluid-2);
    font-weight: 800;
}

.parrafo {
    margin: 0;
    padding: 0;
    color: var(--white);
    font-size: var(--font-size-fluid-1);
    font-weight: 500;
}

.img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    overflow: hidden;

    transition: all .2s;
}

.img:hover {
    opacity: .5;
}

/* CATÁLOGO */

.container__cards {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));

    gap: 1rem;
    padding: 0 1rem;
}

.card__container {
    display: flex;
    flex-direction: column;
    justify-content: start;

    background-color: var(--black-500);
    border-radius: var(--border-radius);

    transition: all .2s;
}

.card__img {
    border-radius: var(--border-radius);
}

.card__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    padding: 1rem;
    gap: 1rem;
}

.card__info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    gap: .2rem;
}

.card__footer {
    display: flex;
    flex-direction: column;

    gap: .5rem;
}

.card__nombre {
    font-size: var(--font-size-fluid-1);
    font-weight: 800;
    text-align: start;
}

.card__categoria {
    font-size: var(--font-size-fluid-0);
    font-weight: 400;
}

.card__precio {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: var(--font-size-fluid-1);
    font-weight: 600;
}

.card__container:hover {
    transform: scale(.95);
}

/* ICONOS */

i {
    padding: 0;
    margin: 0;
}

i::before {
    padding: 0;
    margin: 0;
}

/* BOTONES */

.button {
    align-self: stretch;
    user-select: none;
    cursor: pointer;

    color: var(--white);
    font-size: var(--font-size-fluid-1);
    font-weight: 400;
    text-align: center;
    padding: .5rem 1rem;

    border-radius: var(--border-radius);
    background-color: var(--black-100);

    transition-property: background-color, transform;
    transition-duration: .2s;
}

.button:hover {
    color: var(--black);
    font-weight: 800;
    background-color: var(--white);
}

.button:active {
    transform: scale(.95);
    color: var(--white);
    background-color: var(--grey-800);
}

/* INPUTS */

input,
select,
textarea {
    background-color: var(--black-100) !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;

    transition: all .2s !important;
}

input:hover,
textarea:hover {
    background-color: var(--black-400) !important;
}

input:focus,
textarea:focus {
    background-color: var(--black-300) !important;
}

input:active,
textarea:active {
    background-color: var(--black-300) !important;
}

textarea {
    resize: none;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {
    .contenedor {
        display: grid;
        place-content: center;
        grid-template-columns: 80%;
    }

    .img {
        width: 100%;
        height: initial;
        border-radius: var(--border-radius);
    }

    .img:not(article .img) {
        max-height: 50vh;
    }
}