@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Righteous&display=swap');

:root {
    --white: #FFFFFF;
    --black: #000000;

    --black-100: #171717;
    --black-200: #141414;
    --black-300: #121212;
    --black-400: #0f0f0f;
    --black-500: #0d0d0d;
    --black-600: #0a0a0a;
    --black-700: #080808;
    --black-800: #050505;
    --black-900: #030303;

    --grey-400: #b0b0b0;
    --grey-500: #808080;
    --grey-600: #5e5e5e;
    --grey-700: #4d4d4d;
    --grey-800: #333333;
    --grey-900: #242424;

    --border-radius: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none !important;
    text-wrap: balance;

    font-family: 'Montserrat', sans-serif;
    color: var(--white);
}

body {
    background-color: var(--black);

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    z-index: 100;
    flex-grow: 1;
}

/* HEADER */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 10vh;

    background: var(--black);
}

.header__logo {
    font-family: 'Righteous', sans-serif;
    font-size: calc(1.5rem + 1vw);
    font-weight: 1000;
    letter-spacing: 4px;
}

.header__toggler {
    display: none;

    background-color: transparent;
    transition: all .5s;
}

.header__toggler:hover {
    transform: rotate(90deg);
}

.header__toggler i::before {
    font-size: calc(1.5rem + 1vw);
}

.nav__enlaces {
    display: flex;
    gap: 1rem;
}

.nav__enlace {
    display: block;
    font-size: 1rem;
    font-weight: 500;
}

.header__logo,
.nav__enlace {
    color: var(--white);
    transition: .2s;
}

.header__logo:hover,
.nav__enlace:hover {
    color: var(--grey-900);
    transform: scale(.95);
}

@media only screen and (max-width: 767px) {
    .header__toggler {
        display: block;
    }

    .nav {
        display: flex;
        justify-content: start;
        align-items: center;
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 0;
        top: 10vh;
        left: 0;
        right: 0;
        background: var(--black-700);
        transition: all .5s;
    }

    .nav__enlaces {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-left: 2rem;
        opacity: 0;
        transition: all .1s;
    }

    .nav.active {
        z-index: 1000;
        height: 15rem;
        transition: all 0.5s, opacity 0.5s 1s;
        /* Transición de altura y opacidad con delay */
    }

    .nav.active .nav__enlaces {
        opacity: 1;
        transition: opacity 0.5s 1s;
        /* Transición de opacidad sin delay */
    }

    .rotate {
        transform: rotate(90deg);
    }
}

/* FOOTER */

.footer {
    position: relative;
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--black);
}

.footer__enlaces,
.footer__redes,
.footer__copyright {
    padding: 1rem 0;
    margin: 0 1rem;
}

.footer__enlace,
.footer__redes a,
.footer__copyright {
    color: var(--white);
    font-size: calc(.4em + 1vw);
    /* Con esto hacemos el tamaño del texto responsive */
    font-weight: 400;

    transition: .2s;
}

.footer__enlaces,
.footer__redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    border-bottom: 2px solid var(--grey-700);
}

.footer__enlaces {
    gap: .7rem;
}

.footer__redes {
    gap: 1rem;
}

.footer__enlace:hover,
.footer__redes a:hover {
    color: var(--grey-900);
    transform: scale(.95);
}

.footer__copyright {
    text-align: center;
    user-select: none;
}

/* ICONOS */

i {
    padding: 0;
    margin: 0;
}

i::before {
    padding: 0;
    margin: 0;
}

/* BOTONES */

.button {
    color: var(--white);
    padding: .5rem 0;

    border-radius: var(--border-radius);
    background-color: var(--black-100);

    transition-property: background-color transform;
    transition-duration: .5s;
}

.button:hover {
    color: var(--black);
    font-weight: 800;
    background-color: var(--white);
}

.button:active {
    transform: scale(.95);
    color: var(--white);
    background-color: var(--grey-800);
}